# Eclipse (only temporary files, maintain generated JAR files)
tmp/
*.tmp
*.bak
*.swp
*.class
*~.nib

# JavaDocs and open files
Reptar/doc/*
*.java~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files (Maintain JAR files) #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
